<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Links -->
  <link rel="shortcut icon" type="image/jpg" href="https://i.imgur.com/Ex2x6gt.png"/>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/mainpage.css" type="text/css" />

  <!-- Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/navAnimation.js"></script>


<title>Symphony - Listings</title>
</head>
<body>
  <%- include('partials/_nav') %>
  <div class="page-container">


  <ul class="items-container">
    <form method = "POST" action = "/">
    <div class="search">
      <button class="search-btn" type="submit">Search</button>
      <input name = "search" type="search" id="form1" />
    </div>
    </form>
    <form method = "POST" action = "/filter">
      <div class="filter"></div>
      Filter items:
      <select name="values">
        <option value="0">Price: low to high</option>
        <option value="1">Price: high to low</option>
      </select>

      <br />

      <input type="submit" title="Submit"/>
    </form>
    <p class="listings">All Listings</p>
    <% for (let i of items){%>
          <li class="card-conatiner">
            <img class="image" src="<%=i.image%>" alt="">
            <div class="info-div">
              <div class="name-price">
                <h5 ><%=i.name%></h5>
                <p class="price" >$<%=i.price%></p>
              </div>

              <p class="description" ><%=i.description%></p>

             <button class="btn" type="button">Favourite</button>
            </div>
          </li>
    <% }%>
  </ul>
  </div>

</body>

</html>
